
	<nav class="navbar navbar-expand-lg ">
		<div class="container">
			<a class="navbar-brand text-white" href="#"><i class="fa fa-graduation-cap fa-lg mr-2"></i> Skool</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse" aria-controls="nvbCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="nvbCollapse">
				<ul class="navbar-nav mx-auto">
					<li *ngIf="this.isLoggedin"class="nav-item pl-1">
						<a class="nav-link" routerLink="/student">
              <i class="fa fa-user-plus fa-fw mr-1"></i> Alumnos 
            </a>
					</li>
          			<li *ngIf="this.isLoggedin" class="nav-item pl-1">
						<a class="nav-link" routerLink="/homework">
              		<i class='fas fa-clipboard-list '></i> Tareas
            		</a>
					</li>
					<li *ngIf="this.isLoggedin"  class="nav-item pl-1">
						<a class="nav-link" routerLink="/session">
              				<i class="fa fa-th-list fa-fw mr-1"></i> Sesions
            			</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

