

<div class="container mt-3">
    <div style="width: 80%; height: 50%;float:left;">
        <h2>Alumnos Periodo 2022</h2>
    </div>
    <div style="width: 10%; height: 50%; float:right;">
        <a class="btn btn-success" role="button" (click)="goStudents()" ><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
    <div style="width: 10%; height: 50%; float:left;">
      <a class="btn btn-info" role="button" (click)="downloadStudens()"><i class="fa fa-download" aria-hidden="true"></i></a>
  </div>
    <table class="table table-hover">
      <thead class="table">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Telefono</th>
          <th scope="col">Aula</th>
          <th scope="col">Nivel</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let student of students">
          <th scope="row">{{student.STUDENT_NAME}}</th>
          <td>{{student.STUDENT_LASTNAME}}</td>
          <td>{{student.STUDENT_PHONE}}</td>
          <td>{{student.CLASSROOM_NAME}}</td>
          <td>{{student.CLASSROOM_GRADE}} {{student.CLASSROOM_LEVEL}}</td>
          <td>
            <a [routerLink]="['/student/edit', student.STUDENT_ID]" class="btn btn-warning" ><i class="fas fa-edit"></i></a>
            <a class="btn btn-danger" (click)="deleteStudent(student.STUDENT_ID)"><i class="far fa-trash-alt"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

