
<div class="container mt-3">
    <div style="width: 90%; height: 50%;float:left;">
        <h2>Alumnos Periodo 2022</h2>
    </div>
    <div style="width: 10%; height: 50%; float:right;">
        <a href="/student/add" class="btn btn-success" role="button">Agregar</a>
    </div>
    <table class="table table-hover">
      <thead class="table">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Telefono</th>
          <th scope="col">Aula</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let student of students">
          <th scope="row">{{student.name}}</th>
          <td>{{student.lastname}}</td>
          <td>{{student.phone}}</td>
          <td>{{student.creation}}</td>
          <td>
            <a [routerLink]="['/student/edit', student.idStudent]" class="btn btn-warning" ><i class="fas fa-edit"></i></a>
            <a class="btn btn-danger" (click)="deleteStudent(student.idStudent)"><i class="far fa-trash-alt"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

