

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="mt-3">
                <ul class="list list-inline" *ngFor = "let session of numSessions" >
                    <div class="d-flex justify-content-between align-items-center ">


                        <ng-template #contenido let-modal>
                            <div class="modal-header">
                              <h4 class="modal-title" id="modal-basic-title">Actualizar Sesión</h4>
                              <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                            </div>
                            <div class="modal-body">
                              <form>
                                <div class="mb-3">
                                    <label style="font-weight: bold" for="datecurrentSession">Fecha Actual de Conclusion</label>
                                    <div class="input-group d-flex justify-content-center">
                                      <p class="mt-3">{{getDateSession(session)}}</p> 
                                    </div>
                                </div>
                                <div class="mb-3">
                                  <label for="datefinalSession">Fecha Final de Conclusion</label>
                                  <div class="input-group d-flex justify-content-center">
                                    <!-- <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker"> -->
                                    <input class="border border-info rounded px-4 mt-3" type="datetime-local" id="meeting-time" name="homeworkMaxtime" >
                                  </div>
                                </div>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-outline-success" (click)="modal.close();updateSession()" >Guardar</button>
                            </div>
                          </ng-template>


                        <div>
                          <h2>SESION {{session}}</h2>
                        </div>
                        <div  class="mb-1" >
                          <a  class="btn btn-warning" (click)="modalService.open(contenido)" role="button">Modificar </a></div>
                        </div>
                    <div>
                      <hr style="height:2px;border-width:2;color:gray;background-color:gray">
                    </div>
             
                    <div class="p-3 mb-2 bg-dark rounded text-white" *ngFor = "let homework of getHomeworkforSessions(session)">
                    <li class="d-flex justify-content-between">
                        <!-- <div class="d-flex flex-row align-items-center"> -->
                        <div class="d-flex flex-row  align-items-center ">
                            <div>
                                <i class="fa fa-book fa-4x" aria-hidden="true"></i>
                            </div>

                            <div class="px-4">
                                <h5 class="text-white">{{homework.COURSE_NAME}} </h5>
                                <span class="border border-light px-4 rounded" style="font-size: 125%">{{homework.HOMEWORK_NAME}}</span>
                                <!-- <p class="mb-0 text-white">{{homework.COURSE_NAME}} - {{homework.HOMEWORK_NAME}} <br> {{homework.HOMEWORK_MAXDATE.toString().substring(5,10)}}</p> -->
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                            <a role="button" routerLink='/homework/view' ><i class="fa fa-arrow-circle-right fa-3x" aria-hidden="true"></i></a>
                        </div>
                    </li>
                </div>
                </ul>
            </div>
        </div>
    </div>
</div>


