
<div style="width: 85%; height: 50%;float:left;">
    <h2> {{nameCourse}} </h2>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
</div>
<div style="width: 15%; height: 50%; float:right;">
    <a (click)="addHomework()" class="btn btn-success" role="button">Agregar <i class='fas fa-plus'></i> </a>
</div>


<div class="col-md-3" *ngFor="let homework of homeworks" >
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-center align-items-center">
            <span style="font-size: 175%; color: white; ">{{homework.HOMEWORK_NAME}}</span>
        </div>
        <div class="d-flex justify-content-end">
            <button (click)="deleteStudent(homework.HOMEWORK_ID)" class="btn blackiconcolor"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></button>
        </div>
        <img src= "https://cdn2.iconfinder.com/data/icons/education-4-1/256/Homework-512.png" width="300" height="250" class="card-img-top">
        <div>
            <br>
            <p style="font-size: 150%; font-weight: bold;">Fecha Limite</p>
            <p class = "btn btn-light border border-danger" style="font-size: 125%; color: red; ">
                {{(homework.HOMEWORK_MAXDATE.toString().substring(5,10))}}
                {{(homework.HOMEWORK_MAXDATE.toString().substring(11,16))}}
            </p>
        </div>
            <!-- <button routerLink="/homework/7/1/view/1" class="btn btn-info btn-block"><span style="font-size: 150%; color: white; ">visualizar</span></button> -->
            <button [routerLink]="['/homework', currentData.idUser, currentData.idCourse,'view',homework.HOMEWORK_ID]" class="btn btn-info btn-block"><span style="font-size: 150%; color: white; ">visualizar</span></button>
    </div>
    <div><p></p></div>
</div>

<!-- ////////////////////////////////////// XD ////////////////////////////////////////////////////////////////////////// -->

