
<div class="col offset">
    <div class="card align-items-center">
        <div class="car-body">
            <form>
                <div><p></p></div>
                <img src="https://static.vecteezy.com/system/resources/thumbnails/002/165/413/small/line-icon-for-student-vector.jpg" class="card-img-top" width="300" height="310">
                <div><p> </p> </div>
                <div class="form-group">
                    <input type="text" name="nombreStudent"  placeholder="Nombre" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="apellidoStudent"  placeholder="Apellido" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="telefonoStudent"laceholder="Telefono" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="aulaStudent"  placeholder="Aula" class="form-control">
                </div>
                <button class="btn btn-success btn-block" >
                
                </button>
                <div><p></p></div>
            </form>
        </div>
    </div>
</div>